
  <div *ngIf="isComplete" style="
    border-width: thin;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
">

    <div class="row">
      <div class="col-xs-4  pull-left">{{ user.firstName }} {{ user.lastName }}</div>
      <div class="col-xs-4  pull-left"></div>
    </div>

     <div class="row">
      <div class="col-xs-2">Email:</div>
      <div class="col-xs-4 pull-left">{{ user.mail }}</div>
    </div>

    <div class="row">
      <div class="col-xs-2">Mobile:</div>
      <div class="col-xs-4 pull-left">{{ user.phone }}</div>
    </div>

    <div class="row" *ngIf="user?.address.length">
      <div class="col-xs-2">Address:</div>
      <div class="col-xs-4 pull-left">{{ user.address }}</div>
    </div>   
  

  

  </div>